$font-Monserat : 'Montserrat', sans-serif;

input{font: 15pt $font-Monserat;}
body{
  height: 100%;
  //background-color: ivory;
  //background-size: 2em 2em;
  //background: linear-gradient(90deg, rgba(255, 255, 255, 0) 1.8em, rgba(135, 206, 235, .5) 2em) 4em 0 repeat-y,
  //linear-gradient(rgba(255,255,255, 0) 1.9em, rgba(0, 0, 0, .15) 2em) 0 0;
}
.container-head{
  width: 1170px!important;
  height: 500px !important;
}
.section-f{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .simple{
    width: 1170px;
    max-width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 1.8em, rgba(135, 206, 235, .5) 2em) 4em 0 repeat-y, linear-gradient(rgba(255,255,255, 0) 1.9em, rgba(0, 0, 0, .15) 2em) 0 0;
    background-size: 2em 2em;
    background-color: ivory;
    font: 16px/2 'Trebuchet MS', Verdana, sans-serif;
    p{
      margin: 2.5em 3em 1em 8em;
    }
  }
}

